body{
	background-color: #53ADB2;
}

#game-container{
	background-color: #F96861;
	border-radius: 16px;
	box-shadow: #970005;
	padding: 30px 50px;
	width: 40vw;
	min-width: 600px;
	margin: 0 auto;
	text-align: center;
}

#game-container h1{
	color: #FFFF97;
	font-size: 36px;
}

#grid-container{
	height: 600px;
	width: 600px;
	margin: 0 auto;
	background-color: white;
}

.grid-item{
	background-color: #F2F2F2;
	/*border: solid 1px rgb(105,105,105, .5); */
}

.fill{
	background-color: lightgray;
	/*border: solid 1px black;
	opacity: .1; */
}

.fill-2{
	background-color: blue;
}

.btn-style{
	border: none;
	color: #F96861;
	background-color: #FFFF97;
	font-size: 18px;
	padding: .7em;
	border-radius: 6px;

}
.btn-selected{
	color: #FFFF97;
	background-color: #53ADB2;

}

