body{
	background-color: #53ADB2;
}

#game-container{
	background-color: #F96861;
	border-radius: 16px;
	box-shadow: #970005;
	padding: 30px 50px;
	width: 40vw;
	min-width: 600px;
	margin: 0 auto;
	text-align: center;
}

#game-container h1{
	color: #FFFF97;
	font-size: 36px;
	margin: 10px;
}

#grid-container{
	height: 600px;
	width: 600px;
	margin: 24px auto;
	background-color: white;
}

.grid-item{
	background-color: #F2F2F2;
}

.btn-style{
	border: none;
	color: #F96861;
	background-color: #FFFF97;
	font-size: 18px;
	padding: .7em;
	border-radius: 6px;
}

.btn-selected{
	color: #FFFF97;
	background-color: #53ADB2;
}

#all-buttons{
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}

#all-buttons >* >*{
	margin: 0 5px;
}